.game-board-side {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.game-side-columns {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.game-single-column {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
